
body{
    font-family:Arial, Helvetica, sans-serif  ;
}
.title{
    font-family: 'Gwendolyn', cursive;
    font-weight: bolder;
    font-size: 30px;
    rotate: -5deg;
    color: black;
}
nav,.login{
    font-size: 13px;
}
.btn-dark{
    background-color: black;
    padding-block: 9px;
    padding-inline: 15px;
    font-size: small;
    font-weight: bold;
}
.login::after{
    content: ".";
    margin-inline: 1rem;
    font-weight: bolder;
    font-size: 25px;
    
    
}
.py{
    padding-block: 0.8rem;
}
.ff{
    font-family: "Source Serif 4", Georgia, serif;

}

.bg-color{
    background-color: gray;
}
.img-container{
  
   width: 200px;
   height: 250px;
  
}
img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
/*  */





